<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta name="theme-color" content="#FFAA00">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/scripts/scripts.js" defer></script>
</head>